	html {
		border: 6px groove #FFB73D;
		color: #FFF;
		height: 97.5%;
		overflow: hidden;
		background-color: #660000; 
		cursor: url('../images/panda.cur'), pointer;
		background-image: url("./images/montagnesdor2.gif"); 
	}

	html, button {
		font-family: Segoe UI,Arial,sans-serif; 
		font-size: 12px;
	}

	body {
		height: 100%;
		margin: auto;
	}

	div#body, div#menu {
		height: 90%;
	}

	div#menu {
		background-color: green; 
		float: left;
		width: 10%;				
	}

	div#body {
		outline: none;
		float: left;
		background: url('../images/montagnesdor2.gif') no-repeat center center;
	  	background-attachment: fixed;
		width: 90%;
	}

	div#footer {
		height: 10%;
		/height: 10.5%;
	}

	div#header {
		height: 12%;
	}

	div#footer {
		clear: both;
	}
	
/****************************/
/*	START: JQuery Theme   	*/
/****************************/
	div.mdo-resizable {
		overflow: hidden;
		width: 100%;
		height: 100.1%;
	} 	
	
	div.mdo-ui-resizable-handle-e, div.mdo-ui-resizable-handle-n, div.mdo-ui-resizable-handle-s	{
		border: 1px gray dotted;
	}
	
	div.mdo-ui-resizable-handle-e
	{
		height: 99.7%;
		width: 1px;
		right: 0px;
		cursor: col-resize;
	}

	div.mdo-ui-resizable-handle-n
	{
		width: 99.7%;
		height: 1px;
		top: 0px;
		cursor: row-resize;
	}
	
	div.mdo-ui-resizable-handle-s
	{
		width: 99.7%;
		height: 1px;
		bottom: 0px;
		cursor: row-resize;
	}
	
/****************************/
/*	END: JQuery Theme   	*/
/****************************/