div.scroll-table-outer-body th, div.scroll-table-outer-body td {
	width: 15%;
	height: 3.5em;
}

div.scroll-table-outer-body thead tr {
	width: 100%;
}

div.scroll-table-outer-body th.orders-quantity-header, div.scroll-table-outer-body td.cell0 {
	width: 116px;
}
div.scroll-table-outer-body th.orders-code-header, div.scroll-table-outer-body td.cell1 {
	width: 116px;
}
div.scroll-table-outer-body th.orders-label-header, div.scroll-table-outer-body td.cell2 {
	width: 60%;
}
div.scroll-table-outer-body th.orders-unit-price-header, div.scroll-table-outer-body td.cell3 {
	width:116px;
}
div.scroll-table-outer-body th.orders-amount-header, div.scroll-table-outer-body td.cell4 {
	width:116px;
}
.cell0, .cell1, .cell2, .cell3, .cell4, .text0, .text1, .text2, .text3, .text4 {
	text-transform: uppercase;
	height: 30px;
}
.cell0 {
	cursor: pointer;
}
.cell0, .cell3, .cell4, .text0, .text3, .text4 {
	text-align: right;
}
.cell1, .text1 {
	text-align: center;
}
.text0, .text1, .text2, .text3, .text4 {
	width: 90%;
	height: 25px;
}
.text2 {
	width: 98%;
}

.cell-center-align {
	text-align: center;
}
