<?xml version='1.0' encoding='utf-8'?>

<hibernate-configuration>

    <!-- a SessionFactory instance listed as /jndi/name -->
    <session-factory>

        <!-- properties -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>

       	<property name="hibernate.connection.url">jdbc:postgresql://localhost/montagnesdor?autoReconnect=true</property> 
        <!-- 
	        <property name="hibernate.connection.url">jdbc:postgresql://sql.free.fr:5432/montagnesdor?autoReconnect=true</property>
        -->
        
        <property name="hibernate.connection.username">montagnesdor</property>
        <property name="hibernate.connection.password">powermdo</property>
        <property name="hibernate.connection.pool_size">10</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <!--  Défini la profondeur maximale d'un arbre de chargement par jointures ouverte pour les associations à cardinalité unitaire (un-à-un, plusieurs-à-un) -->
        <property name="hibernate.max_fetch_depth">3</property>

		<!--### Apache DBCP Connection Pool ###-->
      	<!--connection pool-->
      	<property name="hibernate.dbcp.maxActive">10</property>
      	<property name="hibernate.dbcp.whenExhaustedAction">1</property>
      	<property name="hibernate.dbcp.maxWait">20000</property>
      	<property name="hibernate.dbcp.maxIdle">10</property>

      	<!-- prepared statement cache-->
      	<property name="hibernate.dbcp.ps.maxActive">10</property>
      	<property name="hibernate.dbcp.ps.whenExhaustedAction">1</property>
      	<property name="hibernate.dbcp.ps.maxWait">20000</property>
      	<property name="hibernate.dbcp.ps.maxIdle">10</property>

      	<!-- optional query to validate pooled connections:-->
      	<property name="hibernate.dbcp.validationQuery">select 1</property>
      	<property name="hibernate.dbcp.testOnBorrow">true</property>
      	<property name="hibernate.dbcp.testOnReturn">true</property>
        
        <property name="hibernate.show_sql">true</property>        
        <property name="hibernate.transaction.factory_class">
             org.hibernate.transaction.JDBCTransactionFactory
        </property>
		<property name="hibernate.current_session_context_class">
    		thread
	   </property>
        <property name="hibernate.cache.provider_class">
             org.hibernate.cache.EhCacheProvider
        </property>

        <!-- mapping files -->
		<!-- Ne doit contenir que les requêtes de l'application -->        
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/MontagnesDOrQueries.hbm.xml"/>                

        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/Restaurant.hbm.xml"/>        
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/Locale.hbm.xml"/>
        
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/UserRole.hbm.xml"/>        
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/UserRoleLanguage.hbm.xml"/>        
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/User.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/UserRestaurantProperties.hbm.xml"/>
		<mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/UserLocale.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/UserAuthentication.hbm.xml"/>

        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/ProductPart.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/ProductPartLanguage.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/ValueAddedTax.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/Product.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/ProductSpecialCode.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/ProductLanguage.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/Category.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/CategoryLanguage.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/CategoryRelation.hbm.xml"/>

        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/TypeTable.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/TypeTableLanguage.hbm.xml"/>

		
		<!-- Restaurant part -->        
		<!-- Ne doit contenir que les requêtes de l'application -->        
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/MdoRestaurantQueries.hbm.xml"/>                
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/DinnerTableProperties.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/DinnerTable.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/CreditTable.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/Credit.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/Bill.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/OrderLine.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/VatTable.hbm.xml"/>

    </session-factory>

</hibernate-configuration>

