	#global-transparent
	{
		/* effet de transparence : merci Alsacreation */
		position: absolute;
		background: red;
		filter:alpha(opacity=40);
		-moz-opacity:.40;
		opacity:.40;
		height: 100%;
		width: 100%;
		top:0;
		left:0;
	}
	
	img.logo1
	{
		height: 19px;
		width:  19px;
	}

	/*START flag*/
	#temp-image-flag
	{
		display: none;
	}
	
	img.flag-unselected
	{
		cursor: pointer;
		border-width: 0px;
		border-color: #FFB73D;
	}
	
	img.flag-selected, img.flag-unselected:hover
	{
		border-color: white;
	}
	
	img.flag-selected, img.flag-unselected
	{
		height: 20px;
		width:  30px;
		border-width: 2px;
		border-style: solid;
	}
	/*END flag*/
	
	div#header label 
	{
		font-weight: bold;
		font-size: 12px;
		/*23 is input type=text height*/
		line-height: 20px;
	}

	#header-order
	{
		margin-top: 33px;
	}

	/*START menu top*/
	#header-menu-top, #header-welcome
	{
		width: 100%;
		text-align: center;
	}
	
	div#header-welcome label
	{
		font-size: 24px;
	}
	
	#menu-top
	{
		float: left;
		z-index: 100000;
		overflow: hidden;
		width: 80%;
	}

	div.menu-top-around
	{
		float: left;
		width: 10%;
	}


	#menu-top ul
	{
		float:					left;
		list-style-image:		none;
		list-style-position:	outside;
		list-style-type:		none;
		margin:					0pt;
		padding:				0pt;
		width:					13em;
	}
	
	#menu-top h2
	{
		background:#000000 none repeat scroll 0%;
		color:#FFFFFF;
	}
	
	#menu-top ul>li>h2
	{
		text-align: center;
	}
	
	
	#menu-top h2:hover
	{
		background-color: #FFB73D;
		color:#000000;
	}
	
	#menu-top h2.toggle 
	{
		background-color: #FFFFFF;
		color:#000000;
	}
	
	#menu-top a, #menu-top h2
	{
		border-color:#CCCCCC rgb(136, 136, 136) rgb(85, 85, 85) rgb(187, 187, 187);
		border-style:solid;
		border-width:1px;
		display:block;
		font-family:arial,helvetica,sans-serif;
		font-size:11px;
		font-size-adjust:none;
		font-stretch:normal;
		font-style:normal;
		font-variant:normal;
		font-weight:bold;
		line-height:16px;
		margin:0pt;
		padding:2px 3px;
	}
	
	#menu-top li 
	{
		position: relative;
	}
	
	#menu-top ul ul 
	{
		position: absolute;
	}

	#menu-top ul ul ul 
	{
		position: absolute;
		top: 0;
		left: 100%;
	}

	/*Use for IE*/
	#menu-top li 
	{
		float: left; 
		width: 100%;
		background: black;
	}

	div#menu-top ul ul,
	div#menu-top ul li:hover ul ul,
	div#menu-top ul ul li:hover ul ul
	{
		display: none;
	}

	div#menu-top ul li:hover ul,
	div#menu-top ul ul li:hover ul,
	div#menu-top ul ul ul li:hover ul
	{
		display: block;
	}
	
	#menu-top a:hover
	{  
		color: #000000; 
	}
	
	#menu-top a.toggle
	{  
		color: #000000; 
	}
	/*END menu top*/

	#form-dtoBean-entryDate-datepicker
	{
		color: maroon;
		margin-top: -5px;
		margin-left: 100px;
		width: 50%;
		font-weight: bold;
	}

	div.header-order, #header-date, div.header-order-table-number, div.header-order-table-customer, div.header-order-takeaway, div.header-order-auto-update
	{
		float: left;
		width: 25%;
	}
	
	div.header-order-table-number
	{
		width: 20%;
	}
	
	div.header-order-table-customer
	{
		visibility: hidden;
		width: 25%;
	}

	div.header-order-takeaway
	{
		visibility: hidden;
		width: 15%;
	}

	div.header-order-auto-update
	{
		float: right;
		width: 15%;
	}
	
	#header-date
	{
		clear: both;
		width: 17%;
		padding-top: 3px;
		padding-left: 10px;
		float: left;
	}
	
	#wwlbl_input-header-order-table-number label
	{
		width: 30%;
	}
	
	#wwlbl_input-header-order-table-customer label
	{
		width: 60%;
	}
	
	#wwgrp_input-header-order-table-number
	{
		padding: 0;
	}
	
	#wwgrp_input-header-order-table-customer
	{
		padding: 0;
	}
	
	#wwgrp_header_order_auto_update, #wwgrp_checkbox-header-order-table-takeaway
	{
		padding: 0;
	}
	
	#wwctrl_header_order_auto_update, #wwctrl_checkbox-header-order-table-takeaway
	{
		width: 10%;
		float: left;
	}
	
	#wwlbl_header_order_auto_update, #wwlbl_checkbox-header-order-table-takeaway
	{
		padding-left: 5px;	
		width: 80%;
		float: left;
	}