<?xml version="1.0" encoding="UTF-8"?>

<beans 	xmlns="http://www.springframework.org/schema/beans"
       	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


	<bean id="LocalesAssembler" class="fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultLocalesAssembler">
		<property name="logger">
			<bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultLocalesAssembler</value></constructor-arg>
   		   	</bean>
		</property>
	</bean>
	<bean id="MdoTableAsEnumsAssembler" class="fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultMdoTableAsEnumsAssembler">
		<property name="logger">
			<bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultMdoTableAsEnumsAssembler</value></constructor-arg>
   		   	</bean>
		</property>
	</bean>
	<bean id="VatsAssembler" class="fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultValueAddedTaxesAssembler">
		<property name="logger">
			<bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultValueAddedTaxesAssembler</value></constructor-arg>
   		   	</bean>
		</property>
		<property name="mdoTableAsEnumsAssembler" ref="MdoTableAsEnumsAssembler" />
	</bean>
	<bean id="TableTypesAssembler" class="fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultTableTypesAssembler">
		<property name="logger">
			<bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultTableTypesAssembler</value></constructor-arg>
   		   	</bean>
		</property>
		<property name="mdoTableAsEnumsAssembler" ref="MdoTableAsEnumsAssembler" />
	</bean>
	<bean id="RestaurantPrefixTablesAssembler" class="fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultRestaurantPrefixTablesAssembler">
		<property name="logger">
			<bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultRestaurantPrefixTablesAssembler</value></constructor-arg>
   		   	</bean>
		</property>
		<property name="mdoTableAsEnumsAssembler" ref="MdoTableAsEnumsAssembler" />
		<property name="tableTypesAssembler" ref="TableTypesAssembler" />
	</bean>
	<bean id="RestaurantVatsAssembler" class="fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultRestaurantValueAddedTaxesAssembler">
		<property name="logger">
			<bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultRestaurantValueAddedTaxesAssembler</value></constructor-arg>
   		   	</bean>
		</property>
		<property name="vatsAssembler" ref="VatsAssembler" />
	</bean>
	<bean id="ProductSpecialCodesAssembler" class="fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultProductSpecialCodesAssembler">
		<property name="logger">
			<bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultProductSpecialCodesAssembler</value></constructor-arg>
   		   	</bean>
		</property>
		<property name="mdoTableAsEnumsAssembler" ref="MdoTableAsEnumsAssembler" />
		<property name="restaurantsAssembler" ref="RestaurantsAssembler" />
	</bean>
	<bean id="RestaurantsAssembler" class="fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultRestaurantsAssembler">
		<property name="logger">
			<bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultRestaurantsAssembler</value></constructor-arg>
   		   	</bean>
		</property>
		<property name="mdoTableAsEnumsAssembler" ref="MdoTableAsEnumsAssembler" />
		<property name="tableTypesAssembler" ref="TableTypesAssembler" />
		<property name="restaurantVatsAssembler" ref="RestaurantVatsAssembler" />
		<property name="restaurantPrefixTablesAssembler" ref="RestaurantPrefixTablesAssembler" />
		<property name="productSpecialCodesAssembler" ref="ProductSpecialCodesAssembler" />
	</bean>
	<bean id="UserRestaurantsAssembler" class="fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultUserRestaurantsAssembler">
		<property name="logger">
			<bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultUserRestaurantsAssembler</value></constructor-arg>
   		   	</bean>
		</property>
		<property name="restaurantsAssembler" ref="RestaurantsAssembler" />
	</bean>
	<bean id="UsersAssembler" class="fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultUsersAssembler">
		<property name="logger">
			<bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultUsersAssembler</value></constructor-arg>
   		   	</bean>
		</property>
		<property name="mdoTableAsEnumsAssembler" ref="MdoTableAsEnumsAssembler" />
		<property name="userRestaurantsAssembler" ref="UserRestaurantsAssembler" />
	</bean>
	<bean id="UserRolesAssembler" class="fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultUserRolesAssembler">
		<property name="logger">
			<bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultUserRolesAssembler</value></constructor-arg>
   		   	</bean>
		</property>
		<property name="mdoTableAsEnumsAssembler" ref="MdoTableAsEnumsAssembler" />
	</bean>
	<bean id="UserLocalesAssembler" class="fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultUserLocalesAssembler">
		<property name="logger">
			<bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultUserLocalesAssembler</value></constructor-arg>
   		   	</bean>
		</property>
		<property name="localesAssembler" ref="LocalesAssembler" />
	</bean>
	<bean id="UserAuthenticationsAssembler" class="fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultUserAuthenticationsAssembler">
		<property name="logger">
			<bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultUserAuthenticationsAssembler</value></constructor-arg>
   		   	</bean>
		</property>
		<property name="localesAssembler" ref="LocalesAssembler" />
		<property name="restaurantsAssembler" ref="RestaurantsAssembler" />
		<property name="usersAssembler" ref="UsersAssembler" />
		<property name="userRolesAssembler" ref="UserRolesAssembler" />
		<property name="userLocalesAssembler" ref="UserLocalesAssembler" />
	</bean>
	<bean id="CategoriesAssembler" class="fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultCategoriesAssembler">
		<property name="logger">
			<bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultCategoriesAssembler</value></constructor-arg>
   		   	</bean>
		</property>
		<property name="mdoTableAsEnumsAssembler" ref="MdoTableAsEnumsAssembler" />
	</bean>
	<bean id="ProductPartsAssembler" class="fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultProductPartsAssembler">
		<property name="logger">
			<bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultProductPartsAssembler</value></constructor-arg>
   		   	</bean>
		</property>
		<property name="mdoTableAsEnumsAssembler" ref="MdoTableAsEnumsAssembler" />
	</bean>
	<bean id="ProductCategoriesAssembler" class="fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultProductCategoriesAssembler">
		<property name="logger">
			<bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultProductCategoriesAssembler</value></constructor-arg>
   		   	</bean>
		</property>
		<property name="categoriesAssembler" ref="CategoriesAssembler" />
	</bean>
	<bean id="ProductsAssembler" class="fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultProductsAssembler">
		<property name="logger">
			<bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultProductsAssembler</value></constructor-arg>
   		   	</bean>
		</property>
		<property name="productCategoriesAssembler" ref="ProductCategoriesAssembler" />
		<property name="restaurantsAssembler" ref="RestaurantsAssembler" />
		<property name="vatsAssembler" ref="VatsAssembler" />
	</bean>
	<bean id="PrintingInformationsAssembler" class="fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultPrintingInformationsAssembler">
		<property name="logger">
			<bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultPrintingInformationsAssembler</value></constructor-arg>
   		   	</bean>
		</property>
		<property name="mdoTableAsEnumsAssembler" ref="MdoTableAsEnumsAssembler" />
		<property name="restaurantsAssembler" ref="RestaurantsAssembler" />
	</bean>
	<bean id="TableBillsAssembler" class="fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultTableBillsAssembler">
		<property name="logger">
			<bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultTableBillsAssembler</value></constructor-arg>
   		   	</bean>
		</property>
	</bean>
	<bean id="TableCashingsAssembler" class="fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultTableCashingsAssembler">
		<property name="logger">
			<bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultTableCashingsAssembler</value></constructor-arg>
   		   	</bean>
		</property>
	</bean>
	<bean id="CreditsAssembler" class="fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultCreditsAssembler">
		<property name="logger">
			<bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultCreditsAssembler</value></constructor-arg>
   		   	</bean>
		</property>
		<property name="restaurantsAssembler" ref="RestaurantsAssembler" />
	</bean>
	<bean id="TableCreditsAssembler" class="fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultTableCreditsAssembler">
		<property name="logger">
			<bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultTableCreditsAssembler</value></constructor-arg>
   		   	</bean>
		</property>
		<property name="creditsAssembler" ref="CreditsAssembler" />
	</bean>
	<bean id="TableVatsAssembler" class="fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultTableVatsAssembler">
		<property name="logger">
			<bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultTableVatsAssembler</value></constructor-arg>
   		   	</bean>
		</property>
		<property name="vatsAssembler" ref="VatsAssembler" />
	</bean>
	
	
	<bean id="OrderLinesAssembler" class="fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultOrderLinesAssembler">
		<property name="logger">
			<bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultOrderLinesAssembler</value></constructor-arg>
   		   	</bean>
		</property>
		<property name="productsAssembler" ref="ProductsAssembler" />
		<property name="productPartsAssembler" ref="ProductPartsAssembler" />
		<property name="productSpecialCodesAssembler" ref="ProductSpecialCodesAssembler" />
		<property name="creditsAssembler" ref="CreditsAssembler" />
	</bean>
	<bean id="DinnerTablesAssembler" class="fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultDinnerTablesAssembler">
		<property name="logger">
			<bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.assembler.DefaultDinnerTablesAssembler</value></constructor-arg>
   		   	</bean>
		</property>
		<property name="mdoTableAsEnumsAssembler" ref="MdoTableAsEnumsAssembler" />
		<property name="restaurantsAssembler" ref="RestaurantsAssembler" />
		<property name="userAuthenticationsAssembler" ref="UserAuthenticationsAssembler" />
		<property name="tableTypesAssembler" ref="TableTypesAssembler" />
		<property name="tableBillsAssembler" ref="TableBillsAssembler" />
		<property name="tableCashingsAssembler" ref="TableCashingsAssembler" />
		<property name="tableCreditsAssembler" ref="TableCreditsAssembler" />
		<property name="tableVatsAssembler" ref="TableVatsAssembler" />
		<property name="orderLinesAssembler" ref="OrderLinesAssembler" />
	</bean>


	<bean id="LocalesManager" class="fr.mch.mdo.restaurant.services.business.managers.locales.DefaultLocalesManager">
		<property name="logger">
			 <bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.locales.DefaultLocalesManager</value></constructor-arg>
   		   	</bean>
		</property>	
		<property name="assembler" ref="LocalesAssembler" />
		<property name="dao" ref="LocalesDao" />
	</bean>

	<bean id="MdoTableAsEnumsManager" class="fr.mch.mdo.restaurant.services.business.managers.DefaultMdoTableAsEnumsManager">
		<property name="logger">
			 <bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.DefaultMdoTableAsEnumsManager</value></constructor-arg>
   		   	</bean>
		</property>	
		<property name="assembler" ref="MdoTableAsEnumsAssembler" />
		<property name="dao" ref="MdoTableAsEnumsDao" />
	</bean>
	
	<bean id="TableTypesManager" class="fr.mch.mdo.restaurant.services.business.managers.tables.DefaultTableTypesManager">
		<property name="mdoTableAsEnumsManager" ref="MdoTableAsEnumsManager" />
		<property name="logger">
			 <bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.tables.DefaultTableTypesManager</value></constructor-arg>
   		   	</bean>
		</property>	
		<property name="assembler" ref="TableTypesAssembler" />
		<property name="dao" ref="TableTypesDao" />
	</bean>

	<bean id="ValueAddedTaxesManager" class="fr.mch.mdo.restaurant.services.business.managers.products.DefaultValueAddedTaxesManager">
		<property name="mdoTableAsEnumsManager" ref="MdoTableAsEnumsManager" />
		<property name="logger">
			 <bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.products.DefaultValueAddedTaxesManager</value></constructor-arg>
   		   	</bean>
		</property>	
		<property name="assembler" ref="VatsAssembler" />
		<property name="dao" ref="ValueAddedTaxesDao" />
	</bean>

	<bean id="RestaurantsManager" class="fr.mch.mdo.restaurant.services.business.managers.restaurants.DefaultRestaurantsManager">
		<property name="valueAddedTaxesManager" ref="ValueAddedTaxesManager" />
		<property name="mdoTableAsEnumsManager" ref="MdoTableAsEnumsManager" />
		<property name="tableTypesManager" ref="TableTypesManager" />
		<property name="logger">
			 <bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.restaurants.DefaultRestaurantsManager</value></constructor-arg>
   		   	</bean>
		</property>	
		<property name="assembler" ref="RestaurantsAssembler" />
		<property name="dao" ref="RestaurantsDao" />
	</bean>
	
	<bean id="UsersManager" class="fr.mch.mdo.restaurant.services.business.managers.users.DefaultUsersManager">
		<property name="restaurantsManager" ref="RestaurantsManager" />
		<property name="mdoTableAsEnumsManager" ref="MdoTableAsEnumsManager" />
		<property name="logger">
			 <bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.users.DefaultUsersManager</value></constructor-arg>
   		   	</bean>
		</property>	
		<property name="assembler" ref="UsersAssembler" />
		<property name="dao" ref="UsersDao" />
	</bean>

	<bean id="UserRolesManager" class="fr.mch.mdo.restaurant.services.business.managers.users.DefaultUserRolesManager">
		<property name="mdoTableAsEnumsManager" ref="MdoTableAsEnumsManager" />
		<property name="localesManager" ref="LocalesManager" />
		<property name="logger">
			 <bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.users.DefaultUserRolesManager</value></constructor-arg>
   		   	</bean>
		</property>	
		<property name="assembler" ref="UserRolesAssembler" />
		<property name="dao" ref="UserRolesDao" />
	</bean>
		
	<bean id="UserAuthenticationsManager" class="fr.mch.mdo.restaurant.services.business.managers.users.DefaultUserAuthenticationsManager">
		<property name="localesManager" ref="LocalesManager" />
		<property name="usersManager" ref="UsersManager" />
		<property name="userRolesManager" ref="UserRolesManager" />
		<property name="restaurantsManager" ref="RestaurantsManager" />
		<property name="logger">
			 <bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.users.DefaultUserAuthenticationsManager</value></constructor-arg>
   		   	</bean>
		</property>	
		<property name="assembler" ref="UserAuthenticationsAssembler" />
		<property name="dao" ref="UserAuthenticationsDao" />
	</bean>		

	<bean id="CategoriesManager" class="fr.mch.mdo.restaurant.services.business.managers.products.DefaultCategoriesManager">
		<property name="mdoTableAsEnumsManager" ref="MdoTableAsEnumsManager" />
		<property name="localesManager" ref="LocalesManager" />
		<property name="logger">
			 <bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.products.DefaultCategoriesManager</value></constructor-arg>
   		   	</bean>
		</property>	
		<property name="assembler" ref="CategoriesAssembler" />
		<property name="dao" ref="CategoriesDao" />
	</bean>

	<bean id="ProductPartsManager" class="fr.mch.mdo.restaurant.services.business.managers.products.DefaultProductPartsManager">
		<property name="mdoTableAsEnumsManager" ref="MdoTableAsEnumsManager" />
		<property name="localesManager" ref="LocalesManager" />
		<property name="logger">
			 <bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.products.DefaultProductPartsManager</value></constructor-arg>
   		   	</bean>
		</property>	
		<property name="assembler" ref="ProductPartsAssembler" />
		<property name="dao" ref="ProductPartsDao" />
	</bean>

	<bean id="ProductsManager" class="fr.mch.mdo.restaurant.services.business.managers.products.DefaultProductsManager">
		<property name="restaurantsManager" ref="RestaurantsManager" />
		<property name="valueAddedTaxesManager" ref="ValueAddedTaxesManager" />
		<property name="categoriesManager" ref="CategoriesManager" />
		<property name="localesManager" ref="LocalesManager" />
		<property name="logger">
			 <bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.products.DefaultProductsManager</value></constructor-arg>
   		   	</bean>
		</property>	
		<property name="assembler" ref="ProductsAssembler" />
		<property name="dao" ref="ProductsDao" />
	</bean>

	<bean id="ProductSpecialCodesManager" class="fr.mch.mdo.restaurant.services.business.managers.products.DefaultProductSpecialCodesManager">
		<property name="restaurantsManager" ref="RestaurantsManager" />
		<property name="mdoTableAsEnumsManager" ref="MdoTableAsEnumsManager" />
		<property name="localesManager" ref="LocalesManager" />
		<property name="logger">
			 <bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.products.DefaultProductSpecialCodesManager</value></constructor-arg>
   		   	</bean>
		</property>	
		<property name="assembler" ref="ProductSpecialCodesAssembler" />
		<property name="dao" ref="ProductSpecialCodesDao" />
	</bean>

	<bean id="PrintingInformationsManager" class="fr.mch.mdo.restaurant.services.business.managers.printings.DefaultPrintingInformationsManager">
		<property name="restaurantsManager" ref="RestaurantsManager" />
		<property name="mdoTableAsEnumsManager" ref="MdoTableAsEnumsManager" />
		<property name="localesManager" ref="LocalesManager" />
		<property name="logger">
			 <bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.printings.DefaultPrintingInformationsManager</value></constructor-arg>
   		   	</bean>
		</property>	
		<property name="assembler" ref="PrintingInformationsAssembler" />
		<property name="dao" ref="PrintingInformationsDao" />
	</bean>

	<bean id="DinnerTablesManager" class="fr.mch.mdo.restaurant.services.business.managers.tables.DefaultDinnerTablesManager">
		<property name="logger">
			 <bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.services.business.managers.tables.DefaultDinnerTablesManager</value></constructor-arg>
   		   	</bean>
		</property>	
		<property name="assembler" ref="DinnerTablesAssembler" />
		<property name="dao" ref="DinnerTablesDao" />
		<property name="productsDao" ref="ProductsDao" />
		<property name="productSpecialCodeDao" ref="ProductSpecialCodesDao" />
		<property name="orderLinesDao" ref="OrderLinesDao" />
	</bean>
</beans>       