<?xml version="1.0" encoding="UTF-8"?>

<beans 	xmlns="http://www.springframework.org/schema/beans"
       	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="AuthenticationManager" class="fr.mch.mdo.restaurant.business.managers.authentication.DefaultAuthenticationManager">
		<property name="logger">
			 <bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.business.managers.authentication.DefaultAuthenticationManager</value></constructor-arg>
   		   	</bean>
		</property>	
		<property name="dao">
			<bean class="fr.mch.mdo.restaurant.dao.authentication.hibernate.DefaultAuthenticationDao">
				<property name="logger">
			 		<bean factory-bean="Logger" factory-method="getLogger">
			 			<constructor-arg><value>fr.mch.mdo.restaurant.dao.authentication.hibernate.DefaultAuthenticationDao</value></constructor-arg>
   		   			</bean>
				</property>
			</bean>
		</property>
	</bean>

	<bean id="LocalesManager" class="fr.mch.mdo.restaurant.business.managers.locales.DefaultLocalesManager">
		<property name="logger">
			 <bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.business.managers.locales.DefaultLocalesManager</value></constructor-arg>
   		   	</bean>
		</property>	
		<property name="dao">
			<bean class="fr.mch.mdo.restaurant.dao.locales.hibernate.DefaultLocalesDao">
				<property name="logger">
					<bean factory-bean="Logger" factory-method="getLogger">
					 	<constructor-arg><value>fr.mch.mdo.restaurant.dao.locales.hibernate.DefaultLocalesDao</value></constructor-arg>
		   		   	</bean>
				</property>
				<property name="bean">
					<bean class="fr.mch.mdo.restaurant.dao.beans.Locale"/>
				</property>
			</bean>
		</property>
	</bean>
	
	<bean id="RestaurantsManager" class="fr.mch.mdo.restaurant.business.managers.restaurants.DefaultRestaurantsManager">
		<property name="logger">
			 <bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.business.managers.restaurants.DefaultRestaurantsManager</value></constructor-arg>
   		   	</bean>
		</property>	
		<property name="dao">
			<bean class="fr.mch.mdo.restaurant.dao.restaurants.hibernate.DefaultRestaurantsDao">
				<property name="logger">
					<bean factory-bean="Logger" factory-method="getLogger">
					 	<constructor-arg><value>fr.mch.mdo.restaurant.dao.restaurants.hibernate.DefaultRestaurantsDao</value></constructor-arg>
		   		   	</bean>
				</property>
				<property name="bean">
					<bean class="fr.mch.mdo.restaurant.dao.beans.Restaurant"/>
				</property>
			</bean>
		</property>
	</bean>
	
	<bean id="UserRolesManager" class="fr.mch.mdo.restaurant.business.managers.users.DefaultUserRolesManager">
		<property name="logger">
			 <bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.business.managers.users.DefaultUserRolesManager</value></constructor-arg>
   		   	</bean>
		</property>	
		<property name="dao">
			<bean class="fr.mch.mdo.restaurant.dao.users.hibernate.DefaultUserRolesDao">
				<property name="logger">
					<bean factory-bean="Logger" factory-method="getLogger">
					 	<constructor-arg><value>fr.mch.mdo.restaurant.dao.users.hibernate.DefaultUserRolesDao</value></constructor-arg>
		   		   	</bean>
				</property>
				<property name="bean">
					<bean class="fr.mch.mdo.restaurant.dao.beans.UserRole"/>
				</property>
			</bean>
		</property>
	</bean>
		
	<bean id="UserAuthenticationsManager" class="fr.mch.mdo.restaurant.business.managers.users.DefaultUserAuthenticationsManager">
		<property name="logger">
			 <bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.business.managers.users.DefaultUserAuthenticationsManager</value></constructor-arg>
   		   	</bean>
		</property>	
		<property name="dao">
			<bean class="fr.mch.mdo.restaurant.dao.users.hibernate.DefaultUserAuthenticationsDao">
				<property name="logger">
					<bean factory-bean="Logger" factory-method="getLogger">
					 	<constructor-arg><value>fr.mch.mdo.restaurant.dao.users.hibernate.DefaultUserAuthenticationsDao</value></constructor-arg>
		   		   	</bean>
				</property>
				<property name="bean">
					<bean class="fr.mch.mdo.restaurant.dao.beans.UserAuthentication"/>
				</property>
			</bean>
		</property>
	</bean>		
		
	<bean id="UsersManager" class="fr.mch.mdo.restaurant.business.managers.users.DefaultUsersManager">
		<property name="logger">
			 <bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.business.managers.users.DefaultUsersManager</value></constructor-arg>
   		   	</bean>
		</property>	
		<property name="dao">
			<bean class="fr.mch.mdo.restaurant.dao.users.hibernate.DefaultUsersDao">
				<property name="logger">
					<bean factory-bean="Logger" factory-method="getLogger">
					 	<constructor-arg><value>fr.mch.mdo.restaurant.dao.users.hibernate.DefaultUsersDao</value></constructor-arg>
		   		   	</bean>
				</property>
				<property name="bean">
					<bean class="fr.mch.mdo.restaurant.dao.beans.User"/>
				</property>
			</bean>
		</property>
	</bean>

	<bean id="CategoriesManager" class="fr.mch.mdo.restaurant.business.managers.products.DefaultCategoriesManager">
		<property name="logger">
			 <bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.business.managers.products.DefaultCategoriesManager</value></constructor-arg>
   		   	</bean>
		</property>	
		<property name="dao">
			<bean class="fr.mch.mdo.restaurant.dao.products.hibernate.DefaultCategoriesDao">
				<property name="logger">
					<bean factory-bean="Logger" factory-method="getLogger">
					 	<constructor-arg><value>fr.mch.mdo.restaurant.dao.products.hibernate.DefaultCategoriesDao</value></constructor-arg>
		   		   	</bean>
				</property>
				<property name="bean">
					<bean class="fr.mch.mdo.restaurant.dao.beans.Category"/>
				</property>
			</bean>
		</property>
	</bean>

	<bean id="ProductPartsManager" class="fr.mch.mdo.restaurant.business.managers.products.DefaultProductPartsManager">
		<property name="logger">
			 <bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.business.managers.products.DefaultProductPartsManager</value></constructor-arg>
   		   	</bean>
		</property>	
		<property name="dao">
			<bean class="fr.mch.mdo.restaurant.dao.products.hibernate.DefaultProductPartsDao">
				<property name="logger">
					<bean factory-bean="Logger" factory-method="getLogger">
					 	<constructor-arg><value>fr.mch.mdo.restaurant.dao.products.hibernate.DefaultProductPartsDao</value></constructor-arg>
		   		   	</bean>
				</property>
				<property name="bean">
					<bean class="fr.mch.mdo.restaurant.dao.beans.ProductPart"/>
				</property>
			</bean>
		</property>
	</bean>

	<bean id="ProductsManager" class="fr.mch.mdo.restaurant.business.managers.products.DefaultProductsManager">
		<property name="logger">
			 <bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.business.managers.products.DefaultProductsManager</value></constructor-arg>
   		   	</bean>
		</property>	
		<property name="dao">
			<bean class="fr.mch.mdo.restaurant.dao.products.hibernate.DefaultProductsDao">
				<property name="logger">
					<bean factory-bean="Logger" factory-method="getLogger">
					 	<constructor-arg><value>fr.mch.mdo.restaurant.dao.products.hibernate.DefaultProductsDao</value></constructor-arg>
		   		   	</bean>
				</property>
				<property name="bean">
					<bean class="fr.mch.mdo.restaurant.dao.beans.Product"/>
				</property>
			</bean>
		</property>
	</bean>

	<bean id="ProductSpecialCodesManager" class="fr.mch.mdo.restaurant.business.managers.products.DefaultProductSpecialCodesManager">
		<property name="logger">
			 <bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.business.managers.products.DefaultProductSpecialCodesManager</value></constructor-arg>
   		   	</bean>
		</property>	
		<property name="dao">
			<bean class="fr.mch.mdo.restaurant.dao.products.hibernate.DefaultProductSpecialCodesDao">
				<property name="logger">
					<bean factory-bean="Logger" factory-method="getLogger">
					 	<constructor-arg><value>fr.mch.mdo.restaurant.dao.products.hibernate.DefaultProductSpecialCodesDao</value></constructor-arg>
		   		   	</bean>
				</property>
				<property name="bean">
					<bean class="fr.mch.mdo.restaurant.dao.beans.ProductSpecialCode"/>
				</property>
			</bean>
		</property>
	</bean>

	<bean id="ValueAddedTaxesManager" class="fr.mch.mdo.restaurant.business.managers.products.DefaultValueAddedTaxesManager">
		<property name="logger">
			 <bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.business.managers.products.DefaultValueAddedTaxesManager</value></constructor-arg>
   		   	</bean>
		</property>	
		<property name="dao">
			<bean class="fr.mch.mdo.restaurant.dao.products.hibernate.DefaultValueAddedTaxesDao">
				<property name="logger">
					<bean factory-bean="Logger" factory-method="getLogger">
					 	<constructor-arg><value>fr.mch.mdo.restaurant.dao.products.hibernate.DefaultValueAddedTaxesDao</value></constructor-arg>
		   		   	</bean>
				</property>
				<property name="bean">
					<bean class="fr.mch.mdo.restaurant.dao.beans.ValueAddedTax"/>
				</property>
			</bean>
		</property>
	</bean>

	<bean id="TypeTablesManager" class="fr.mch.mdo.restaurant.business.managers.tables.DefaultTypeTablesManager">
		<property name="logger">
			 <bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.business.managers.tables.DefaultTypeTablesManager</value></constructor-arg>
   		   	</bean>
		</property>	
		<property name="dao">
			<bean class="fr.mch.mdo.restaurant.dao.tables.hibernate.DefaultTypeTablesDao">
				<property name="logger">
					<bean factory-bean="Logger" factory-method="getLogger">
					 	<constructor-arg><value>fr.mch.mdo.restaurant.dao.tables.hibernate.DefaultTypeTablesDao</value></constructor-arg>
		   		   	</bean>
				</property>
				<property name="bean">
					<bean class="fr.mch.mdo.restaurant.dao.beans.TypeTable"/>
				</property>
			</bean>
		</property>
	</bean>
	
	<bean id="UserManager" class="fr.mch.mdo.restaurant.business.managers.user.DefaultUserManager">
		<property name="logger">
			 <bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.business.managers.user.DefaultUserManager</value></constructor-arg>
   		   	</bean>
		</property>	
		<property name="dao">
			<bean class="fr.mch.mdo.restaurant.dao.user.hibernate.DefaultUserDao">
				<property name="logger">
					<bean factory-bean="Logger" factory-method="getLogger">
					 	<constructor-arg><value>fr.mch.mdo.restaurant.dao.user.hibernate.DefaultUserDao</value></constructor-arg>
		   		   	</bean>
				</property>
				<property name="bean">
					<bean class="fr.mch.mdo.restaurant.dao.beans.User"/>
				</property>
			</bean>
		</property>
	</bean>
	
	<bean id="TablesOrdersManager" class="fr.mch.mdo.restaurant.business.managers.tables.orders.DefaultTablesOrdersManager">
		<property name="logger">
			 <bean factory-bean="Logger" factory-method="getLogger">
			 	<constructor-arg><value>fr.mch.mdo.restaurant.business.managers.tables.orders.DefaultTablesOrdersManager</value></constructor-arg>
   		   	</bean>
		</property>	
		<property name="dao">
			<bean class="fr.mch.mdo.restaurant.dao.tables.orders.hibernate.DefaultTablesOrdersDao">
				<property name="logger">
					<bean factory-bean="Logger" factory-method="getLogger">
					 	<constructor-arg><value>fr.mch.mdo.restaurant.dao.tables.orders.hibernate.DefaultTablesOrdersDao</value></constructor-arg>
		   		   	</bean>
				</property>
				<property name="bean">
					<bean class="fr.mch.mdo.restaurant.dao.beans.DinnerTable"/>
				</property>
			</bean>
		</property>
	</bean>

</beans>       