<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

 	
<!-- LoggerImpl.init is a static method -->
<!-- 	
 	<bean id="LoggerImpl.init" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="staticMethod"><value>fr.mch.mdo.restaurant.services.logs.LoggerImpl.init</value></property>
	  	<property name="arguments">
	    	<list>
	      		<value>/fr/mch/mdo/restaurant/resources/logs/log4j/log4j.properties</value>
	    	</list>
		</property>
	</bean>
 -->
 	<bean id="LoggerI18Message" class="fr.mch.mdo.i18n.MessageQueryResourceBundleImpl">
		<constructor-arg index="0"><value>fr.mch.mdo.restaurant.resources.i18n.ILoggerMessages</value></constructor-arg>
 	</bean>
 
 	<bean id="Logger" class="fr.mch.mdo.restaurant.services.logs.LoggerImpl">
 		<property name="loggerMessage"><ref bean="LoggerI18Message"/></property>
 	</bean>

	<bean id="LoggerService" class="fr.mch.mdo.restaurant.services.logs.LoggerServiceImpl">
 		<property name="logger"><ref bean="Logger"/></property>
 	</bean>


</beans>       