<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<bean id="aspectTransactionAdvice"
		class="fr.mch.mdo.aop.AspectTransaction" />

	<!-- 
		ensure that the above transactional advice runs for any execution
	-->
	<aop:config>
		<aop:pointcut id="bussinessMethod"
			expression="call(* fr.mch.mdo.restaurant.services.business.managers.*+.*(..) throws fr.mch.mdo.restaurant.exception.MdoException+) and target(manager) and !this(fr.mch.mdo.restaurant.services.business.managers.IMdoManager)" />

		<aop:aspect id="aspectId" ref="aspectTransactionAdvice">
			<aop:around method="aroundBussinessMethod"
				pointcut-ref="bussinessMethod" />
		</aop:aspect>
	</aop:config>

</beans>
