<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<import resource="spring-mdo-user-global-admin.xml"/>

	<import resource="spring-mdo-i18n.xml"/>

	<import resource="spring-mdo-log.xml"/>

	<import resource="spring-mdo-manager.xml"/>

<!-- 
	<import resource="spring-mdo-dao-aop-transaction.xml"/>
 -->
	<import resource="spring-mdo-jaas.xml"/>
	
</beans>       