<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	
<hibernate-configuration>

    <!-- a SessionFactory instance listed as /jndi/name -->
    <session-factory>

        <!-- properties -->
		<!-- org.hsqldb.jdbc.JDBCDriver ==> HSQLDB 2.0 driver  -->
		<!-- org.hsqldb.jdbcDriver ==> HSQLDB 1.8.X driver  -->
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbc.JDBCDriver</property>

       	<property name="hibernate.connection.url">jdbc:hsqldb:mem:montagnesdorbusiness</property> 
        <!-- 
	        <property name="hibernate.connection.url">jdbc:postgresql://sql.free.fr:5432/montagnesdor?autoReconnect=true</property>
        -->
        
        <property name="hibernate.connection.username">SA</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.pool_size">10</property>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
        <!--  Défini la profondeur maximale d'un arbre de chargement par jointures ouverte pour les associations à cardinalité unitaire (un-à-un, plusieurs-à-un) -->
        <property name="hibernate.max_fetch_depth">3</property>

      	<!-- configuration pool via c3p0--> 
		<property name="c3p0.acquire_increment">1</property> 
		<property name="c3p0.idle_test_period">100</property> <!-- seconds --> 
		<property name="c3p0.max_size">100</property> 
		<property name="c3p0.max_statements">0</property> 
		<property name="c3p0.min_size">10</property> 
		<property name="c3p0.timeout">100</property> <!-- seconds --> 
		<!-- DEPRECATED very expensive property name="c3p0.validate>--> 


        <property name="hibernate.show_sql">true</property>        
        <property name="hibernate.transaction.factory_class">
             org.hibernate.transaction.JDBCTransactionFactory
        </property>
		<property name="hibernate.current_session_context_class">
    		thread
	   </property>
        <property name="hibernate.cache.provider_class">
             org.hibernate.cache.EhCacheProvider
        </property>

        <!-- mapping files -->
		<!-- Ne doit contenir que les requêtes de l'application -->        
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/MontagnesDOrQueries.hbm.xml"/>                

        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/MdoTableAsEnum.hbm.xml"/>        
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/ValueAddedTax.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/TableType.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/Restaurant.hbm.xml"/>        
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/RestaurantValueAddedTax.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/RestaurantPrefixTable.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/Locale.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/PrintingInformation.hbm.xml"/>
        
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/UserRole.hbm.xml"/>        
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/UserRoleLanguage.hbm.xml"/>        
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/User.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/UserRestaurant.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/UserRestaurantProperties.hbm.xml"/>
		<mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/UserLocale.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/UserAuthentication.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/UserAuthenticationJaas.hbm.xml"/>

        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/ProductPart.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/ProductPartLanguage.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/Product.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/ProductCategory.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/ProductSpecialCode.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/ProductLanguage.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/Category.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/CategoryLanguage.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/ProductSold.hbm.xml"/>

        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/Credit.hbm.xml"/>
        
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/DinnerTable.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/OrderLine.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/TableBill.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/TableCredit.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/TableVat.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/TableCashing.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/CashingType.hbm.xml"/>

        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/Revenue.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/RevenueCashing.hbm.xml"/>
        <mapping resource="fr/mch/mdo/restaurant/resources/dao/hibernate/RevenueVat.hbm.xml"/>

	</session-factory>

</hibernate-configuration>