grant principal * * 
{
  	permission fr.mch.mdo.restaurant.services.authorization.jaas.URLPermission "/restaurant/Logon";
};


grant principal fr.mch.mdo.restaurant.services.authorization.jaas.TypedPrincipal "USER" 
{
};

grant principal fr.mch.mdo.restaurant.services.authorization.jaas.TypedPrincipal "ADMINISTRATOR" 
{
	permission fr.mch.mdo.restaurant.services.authorization.jaas.URLPermission "/restaurant/RedirectToSchemeHTTP";
  	permission fr.mch.mdo.restaurant.services.authorization.jaas.URLPermission "/restaurant/ChangeEntryDate";
  	permission fr.mch.mdo.restaurant.services.authorization.jaas.URLPermission "/restaurant/TablesOrders";

  	permission fr.mch.mdo.restaurant.services.authorization.jaas.URLPermission "/restaurant/User";
  	permission fr.mch.mdo.restaurant.services.authorization.jaas.URLPermission "/restaurant/ChangePassword";

};


